extends ../loyout

block variables
    - var title= "infoBIM"

block content
    header.container.header#header
        .header__logo
            img.header__img(src="images/content/logo.png" alt="infoBIM")
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="#course") Курсы
                li.nav__item
                    a.nav__link(href="#services") Услуги
                li.nav__item
                    a.nav__link(href="#portfolio") Портфолио
                li.nav__item
                    a.nav__link(href="#about") О нас
                li.nav__item
                    a.nav__link(href="#comment") Отзывы
                li.nav__item
                    a.nav__link(href="#contact") Контакты
        .header-tel
            a.header-tel__link(href="tel:79818045977") +7 (981) 804-59-77
    section.hero.sect-underline
        .container
            .hero-block
                .hero-block__name infoBIM
                h1.hero-block__offer Школа информационного моделирования и компьютерной графики
                button.btn.btn__consultation Связаться
    section.sect-underline
        .container.advantage
            h2.main-title Наши преимущества
            .advant-block
                .advant-block__item
                    .advant-block__img
                        svg.advant-block__svg(width='100%' height='100%')
                            use(xlink:href=`images/icons/sprite.svg#calendar`)
                    .advant-block__text
                        p Индивидуальный график занятий для каждого
                .advant-block__item
                    .advant-block__img
                        svg.advant-block__svg(width='100%' height='100%')
                            use(xlink:href=`images/icons/sprite.svg#earth`)
                    .advant-block__text
                        p Возможность обучения из любой точки мира
                .advant-block__item
                    .advant-block__img
                        svg.advant-block__svg(width='100%' height='100%')
                            use(xlink:href=`images/icons/sprite.svg#folder`)
                    .advant-block__text
                        p Записи уроков останутся у вас после обучения
                .advant-block__item
                    .advant-block__img
                        svg.advant-block__svg(width='100%' height='100%')
                            use(xlink:href=`images/icons/sprite.svg#home`)
                    .advant-block__text
                        p Реальный опыт использования программ в строительстве
    section.course#course
        h2.main-title Наши курсы
        .course-block.course-block--one
            .container
                h3.main-subtitle Для архитекторов и дизайнеров
                .course-content
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/autoCad.png" alt="autoCad")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name AutoCAD
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 12 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/revitArchitecture.png" alt="Revit Architecture")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name Revit Architecture
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 16 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/3dMax.png" alt="3D Max")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name 3D Max
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 17 000 руб.
                        button.btn.btn__order Заказать
        .course-block.course-block--two
            .container
                h3.main-subtitle Для инженеров-проектировщиков
                .course-content
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/autoCad.png" alt="AutoCAD")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name AutoCAD
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 12 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/revitStructure.png" alt="Revit Structure")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name Revit Structure
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 16 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/scadOffice.png" alt="SCAD Office")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name SCAD office
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 15 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/autodeskRobot.png" alt="Autodesk Robot")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name Autodesk Robot
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 15 000 руб.
                        button.btn.btn__order Заказать
        .course-block.course-block--three
            .container
                h3.main-subtitle Для инженеров коммуникаций
                .course-content
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/autoCad.png" alt="AutoCAD")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name AutoCAD
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 12 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/revitMEP.png" alt="Revit MEP")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name Revit MEP
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 20 000 руб.
                        button.btn.btn__order Заказать
                    .course-item
                        .course-item__head
                            img.course-item__img(src="images/content/mep+.png" alt="MEP")
                        .course-item__bottom
                            .course-item__block
                                .course-item__name MEP + стажировка
                                button.course-item__btn(type="button") Подробнее >>
                                .modal.modal-course-none
                                    .modal__programm
                                        .modal__header
                                            h2.modal__title Учебнай план изучения программы Autodesk Revit (Architecture) 10 занятий
                                        .modal__body
                                            ol.modal-prog__list
                                                li.modal-prog__item Интерфейс (основные функции и инструменты для работы с программой) , создание шаблона проекта. Виды шаблона. Организация рабочего пространства и навигация. Оси и уровни.
                                                    span.modal-prog__num 1
                                                li.modal-prog__item Стены (создание, редактирование, параметры, создание «пирога» и работа с материалами) и колонны, двери, окна. Типоразмеры и свойства.
                                                    span.modal-prog__num 2
                                                li.modal-prog__item Перекрытия, крыши (создание, редактирование, создание «пирога» и работа с материалами)
                                                    span.modal-prog__num 3
                                                li.modal-prog__item Лестницы, пандусы и ограждения (создание, редактирование, параметры и свойства). Формообразующие. Работа с 3D видом. Видимость и графика 3D вида.
                                                    span.modal-prog__num 4
                                                li.modal-prog__item Семейства (работа с семействами, создание, загрузка и редактирование). Расстановка мебели, оборудования. Создание своего семейства.
                                                    span.modal-prog__num 5
                                                li.modal-prog__item Зонирование, аннотации, обозначения на планах помещений, легенды, линии детализации и линии модели, выноски. Обмерный план. Привязки размеров и редактирование. Работа с видами (подрезка, свойства, копирование). Использование подложек. Экспорт и импорт из AutoCAD.
                                                    span.modal-prog__num 6
                                                li.modal-prog__item Создание собственного проекта, отработка предыдущих занятий; совместная работа над проектом.
                                                    span.modal-prog__num 7-8
                                                li.modal-prog__item Оформление чертежей, разрезы, создание спецификаций, размещение видов на листе. Создание штампа. Организация диспетчера проекта.
                                                    span.modal-prog__num 9
                                                li.modal-prog__item Визуализация, обход, экспорт проекта. Экспорт в 3DMax. Настройка видимости графики.
                                                    span.modal-prog__num 10
                                        .modal__footer
                                            .modal__price
                                                span.modal__num 16 000 руб
                                        button.modal__close
                            .course-item__price 30 000 руб.
                        button.btn.btn__order Заказать
    section.services#services
        .container
            h2.main-title Дополнительные услуги
            .services-content
                .service-block.service-block--left
                    .service-block__overlay
                        .service-block__info
                            .service-block__title BIM модель
                            ul.service-block__list
                                li.service-block__item моделирование любой сложности
                                li.service-block__item оформление чертежей
                                li.service-block__item корректировка Вашей модели
                            .service-block__price Цена:
                                span.service-block__value  договорная
                        button.btn.btn__service Заказать
                .service-block.service-block--right
                    .service-block__overlay
                        .service-block__info
                            .service-block__title Визуализация
                            ul.service-block__list
                                li.service-block__item интерьер
                                li.service-block__item экстерьер
                            .service-block__price Цена:
                                span.service-block__value  300 р/кв.м
                        button.btn.btn__service Заказать
    section.advice
        .container.advice-block
            .main-subtitle.main-subtitle--white Не можете определиться, какой выбрать курс?
            button.btn.btn__consultation Бесплатная консультация
    section.portfolio.sect-underline#portfolio
        .container
            h2.main-title Портфолио
            .work.owl-carousel
                .work__slide
                    .work__left
                        img.work__img(src="images/content/work/1/1.jpg" alt="")
                    .work__right
                        h3.work__title Описание проекта 1
                        div.work__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et doloreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolorempor incididunt ut labore et dolore
                        ul.work__list
                            li.work__item.active
                                img.work__icon(src="images/content/work/1/1.jpg" alt="")
                            li.work__item
                                img.work__icon(src="images/content/work/1/2.jpg" alt="")
                            li.work__item
                                img.work__icon(src="images/content/work/1/3.jpg" alt="")
                            li.work__item
                                img.work__icon(src="images/content/work/1/4.jpg" alt="")
                .work__slide
                    .work__left
                        img.work__img(src="images/content/work/1/4.jpg" alt="")
                    .work__right
                        h3.work__title Описание проекта 2
                        div.work__text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        ul.work__list
                            li.work__item.active
                                img.work__icon(src="images/content/work/1/4.jpg" alt="")
                            li.work__item
                                img.work__icon(src="images/content/work/1/3.jpg" alt="")
                            li.work__item
                                img.work__icon(src="images/content/work/1/2.jpg" alt="")
                            li.work__item
                                img.work__icon(src="images/content/work/1/1.jpg" alt="")
    section.about.sect-underline#about
        .container
            h2.main-title О нас
            .about-block
                .about__left
                    .about__img
                        img.about__avatar(src="images/content/user.png" alt="Фото автора")
                .about__right
                    .about__content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
    section.comment#comment
        .container
            h2.main-title Отзывы
            .feedback.owl-carousel
                .feedback__item
                    .feedback__left
                        .feedback__name Караваев Игорь Сергеевич
                        .feedback__post Инженер-проектировщик
                        .feedback__work
                            a.feedback__work_link(href="#" target="_blank") ООО "Санлайн"
                        .feedback__social
                            .social
                                -
                                    var socials = [
                                        ['vk','https://vk.com/infobim']
                                        ]
                                ul.social__list
                                    each social in socials
                                        li.social__item
                                            a(class=`social__link social__link_${social[0]}` href=`${social[1]}` target="_blank")
                                                svg.social__link_svg(width='100%' height='100%')
                                                    use(xlink:href=`images/icons/sprite.svg#${social[0]}`)
                    .feedback__right
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .feedback__item
                    .feedback__left
                        .feedback__name Караваев Игорь Сергеевич 2
                        .feedback__post Инженер-проектировщик
                        .feedback__work
                            a.feedback__work_link(href="#" target="_blank") ООО "Санлайн"
                        .feedback__social
                            .social
                                -
                                    var socials = [
                                    ['vk','https://vk.com/infobim']
                                    ]
                                ul.social__list
                                    each social in socials
                                        li.social__item
                                            a(class=`social__link social__link_${social[0]}` href=`${social[1]}` target="_blank")
                                                svg.social__link_svg(width='100%' height='100%')
                                                    use(xlink:href=`images/icons/sprite.svg#${social[0]}`)
                    .feedback__right
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    section.contact#contact
        .container
            h2.main-title Связаться
            form.form
                .form__left
                    .form__block.form__block-error
                        input.form__input(type="text" name="form-name" placeholder="Имя")
                        span.form__error Введите правильное имя
                    .form__block.form__block-error
                        input.form__input(type="text" name="form-email" placeholder="E-mail")
                        span.form__error Введите правильный e-mail
                    .form__block
                        input.form__input(type="text" name="form-tel" placeholder="Телефон")
                        span.form__error Введите правильный телефон
                .form__right
                    .form__block
                        textarea.form__input(name="form-text" id="" cols="30" rows="6" placeholder="Ваше сообщение")
                    .form__block
                        input.form__chekbox#userAgreement(type="checkbox" name="form-name" value="Ваше имя" checked)
                        label.form__label(for="userAgreement") Я даю согласие на обработку моих персональных данных
                            a.political__link(href='political.html' target='_blank') Политика конфидециальности
                    button.btn.btn__access(type="button") Отправить
    footer.footer
        .container.footer__block
            .footer__left
                .partner
                    .partner__title Партнеры
                    ul.partner__list
                        li.partner__item
                            a.partner__link(href="#") ООО "ИК "Санлайн"
                        li.partner__item
                            a.partner__link(href="#") ООО "ИК "Санлайн 2"
            .footer__right
                ul.contact__list
                    li.contact__item
                        a.contact__link(href="mailto:mr.shruslan@gmail.com") mr.shruslan@gmail.com
                    li.contact__item
                        a.contact__link(href="tel: +79818045977") +7 (981) 804-59-77
                .social
                    -
                        var socials = [
                        ['vk','https://vk.com/infobim'],
                        ['youtube','https://m.youtube.com/channel/UCpd9dFwXuDYKJTs_iEGQvPg']
                        ]
                    ul.social__list
                        each social in socials
                            li.social__item
                                a(class=`social__link social__link_${social[0]}` href=`${social[1]}` target="_blank")
                                    svg.social__link_svg(width='100%' height='100%')
                                        use(xlink:href=`images/icons/sprite.svg#${social[0]}`)
    a.btn__top(href='#header')